# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.jekyll-assets-cache/

# Bundler
.bundle/
vendor/bundle/

# Ruby
*.rbc
*.gem
*.log
.DS_Store # macOS specific

# Editor/IDE specific files
.vscode/
.idea/