<nav>
  <a href="{{ '/' | relative_url }}" class="logo-link">
    <img src="{{ '/images/logo.svg' | relative_url }}" alt="Esteeb.com" class="site-logo">
  </a>
  <div class="menu-toggle">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="nav-links">
    <a href="/" {% if page.url == '/' %}style="color: red;"{% endif %}>Home</a>
    <a href="/devotional.html" {% if page.url == '/devotional.html' %}style="color: red;"{% endif %}>Devotional</a>
    <a href="/notes.html" {% if page.url == '/notes.html' %}style="color: red;"{% endif %}>Class Notes</a>
    <a href="/class_recordings.html" {% if page.url == '/class_recordings.html' %}style="color: red;"{% endif %}>Class Recordings</a>
    <div class="search-container">
      <input type="text" id="search-input" placeholder="Search...">
    </div>
  </div>
</nav>
