<div class="social-share">
  <span>Share this post:</span>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank" class="share-btn facebook" title="Share on Facebook">Facebook</a>
  <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ page.url | absolute_url }}" target="_blank" class="share-btn twitter" title="Share on Twitter">Twitter</a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title | url_encode }}" target="_blank" class="share-btn linkedin" title="Share on LinkedIn">LinkedIn</a>
  <a href="https://pinterest.com/pin/create/button/?url={{ page.url | absolute_url }}&description={{ page.title | url_encode }}" target="_blank" class="share-btn pinterest" title="Share on Pinterest">Pinterest</a>
</div>